.about_container {
  margin-top: 3.5%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.about_container p {
  opacity: 0.8;
}

.about_project {
  margin-bottom: 2.5%;
}

@media only screen and (max-width: 500px) {
  .about_container {
    font-size: 0.7rem;
  }
}
